{% extends "base.html" %}
{% load static %}

{% block title %}My Projects{% endblock title %}

{% block body_content %}

<div class="posts container-fluid mt-5">
    <h1>My Personal Projects</h1>
</div>

<div class="container-sm">

    <p><i>Featured Projects</i></p>
</div>
<div class="row">
    {% for project in object_list %}
    <div class="col-md-4">
        <div class="card mb-2">
            {% if project.image %}
            <img class="card-img-top" src="{{ project.image.url }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'projects:detail-project' project.pk %}" class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% comment %} Github Projects {% endcomment %}


<div class="posts container-fluid mt-5">
    <h1 class="fs-lg-3">My projects on Github</h1>
</div>


{% endblock %}