{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block description %}
This is a page of a guy who is passionate about technology and programming
{% endblock description %}


{% block meta_image %}
{% static 'images/about/face.png' %}
{% endblock meta_image %}


{% block head_links %}
{{ block.super }}
{% comment %} Home page font {% endcomment %}
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet" />
{% endblock head_links %}


{% block super_body_content %}
{% load static %}

<div class="home-cover">
    <div class="home-cover-caption h-100 w-100 d-flex flex-column align-items-center justify-content-center ">
        <h2 class="display-1 text-center">Developer Road <i class="fas fa-code"></i></h2>
        <p class="mt-4 fs-6 fs-md-4 text-center">The platform where Developers share knowledge about technology and programming</p>
    </div>
</div>

<section class="container-fluid" style="overflow-x: hidden;">
    <div class="text-center mx-auto mt-55 mb-5">
        <h2 class="h1 sm-h3 fw-bold mt-4">Learn and share your <br /> <span class="text-red">knowledge</span> </h2>
        <p class="text-muted mt-4">Stay aware of the latest technologies</p>
    </div>
    <div class="container">
        <!-- Item -->
        <aside class="w-100 d-flex align-items-center justify-content-center flex-column-reverse flex-sm-row py-3 mt-1 mt-sm-5" data-aos="fade-right">
            <div class="col-md-7">
                <h3 class="fs-3 fw-bold text-center text-sm-start">
                    Join a Community of
                    <br />
                    <span class="text-red">Learners</span>
                </h3>
                <p class="text-muted mt-4 div-item-p text-center text-sm-start">
                    Follow the Developer Road community on different platforms, and stay in
                    touch with awesome people
                </p>
                <hr />
                <div class="social-links mt-3 d-flex justify-content-center">
                    <a class="px-3 " href="https://www.instagram.com/developerroad/" target="_blank">
                        <i class="fab fa-instagram icons-home fs-2" title="Developer Road Instagram"></i>
                    </a>
                    <a class="px-3 " href="https://github.com/Developer-road" target="_blank">
                        <i class="fab fa-github icons-home fs-2" title="Developer Road Github"></i>
                    </a>
                    <a class="px-3 " href="https://twitter.com/RoadDeveloper" target="_blank">
                        <i class="fab fa-twitter icons-home fs-2" title="Developer Road Twitter"></i>
                    </a>
                    <a class="px-3" href="https://discord.gg/w8CMGjsvA8" target="_blank">
                        <i class="fab fa-discord icons-home fs-2" title="Developer Road Discord"></i>
                    </a>
                </div>
            </div>
            <figure class="col-md-5">
                <img src="{% static 'images/home/social.svg' %}" alt="Social Images" class="img-fluid div-img-item" />
            </figure>
        </aside>

        <!-- Item -->
        <aside class="w-100 d-flex align-items-center justify-content-center flex-column-reverse flex-sm-row py-3 mt-1 mt-sm-5" data-aos="fade-left">
            <figure class="col-md-5 ">
                <img src="{% static 'images/home/blog.svg' %}" alt="Blog Images" class="img-fluid div-img-item" />
            </figure>
            <div class="col-md-7">
                <h3 class="fs-3 fw-bold text-center text-sm-start">
                    The most Recent technologies in
                    <br />
                    <span class="text-red">
                        Developer Road Blog
                    </span>
                </h3>
                <p class="text-muted mt-4 text-center text-sm-start ">Read, Learn and share your knowledge in the blog</p>
                <hr />
                <p class="text-center text-sm-start">
                    <a href="{% url 'blog:blog_page' %}" class="link-danger text-decoration-none fw-bold">
                        Go to the Blog
                        <i class="fas fa-arrow-right px-2" style="font-size: 1.3rem;"></i>
                    </a>
                </p>
            </div>
        </aside>

        <!-- Item -->
        <aside class="w-100 d-flex align-items-center justify-content-center flex-column-reverse flex-sm-row py-3 mt-1 mt-sm-5" data-aos="fade-right">
            <div class="col-md-7">
                <h3 class="fs-5 fs-sm-3 fw-bold text-center text-sm-start">
                    Want to know more about
                    <br />
                    <span class="text-red">
                        Developer Road Project
                    </span>
                    ?
                </h3>
                <p class="text-muted mt-4 text-center text-sm-start ">Let's know about the initial idea and the author</p>
                <hr />
                <p class="text-center text-sm-start">
                    <a href="{% url 'about:about_page' %}" class="link-danger text-decoration-none fw-bold">
                        Know more<i class="fas fa-arrow-right px-2" style="font-size: 1.3rem;"></i>
                    </a>
                </p>
            </div>
            <figure class="col-md-5">
                <img src="{% static 'images/home/about.svg' %}" alt="About Images" class="img-fluid div-img-item">
            </figure>
        </aside>

        <!-- Item -->
        <aside class="w-100 d-flex align-items-center justify-content-center flex-column-reverse flex-sm-row py-3 mt-1 mt-sm-5" data-aos="fade-left">
            <figure class="col-md-5">
                <img src="{% static 'images/home/project.svg' %}" alt="Projects Images" class="img-fluid div-img-item" />
            </figure>
            <div class="col-md-7">
                <h3 class="fs-3 fw-bold text-center text-sm-start">
                    Review Projects of us and
                    <br />
                    <span class="text-red">the community</span>
                </h3>
                <p class="text-muted mt-4 text-center text-sm-start">From python scripts, to django development, everything you need to know</p>
                <hr />
                <p class="text-center text-sm-start">
                    <a href="{% url 'projects:my_projects' %}" class="link-danger text-decoration-none fw-bold">
                        Let's see cool Projects
                        <i class="fas fa-arrow-right px-2" style="font-size: 1.3rem;"></i>
                    </a>
                </p>
            </div>
        </aside>

        <!-- Item -->
        <aside class="w-100 d-flex align-items-center justify-content-center flex-column-reverse flex-sm-row py-3 mt-1 mt-sm-5" data-aos="fade-right">
            <div class="col-md-7">
                <h3 class="fs-3 fw-bold text-center text-sm-start">
                    Do you have an
                    <span class="text-red">Idea</span>
                    in mind ?
                </h3>
                <p class="text-muted mt-4 text-center text-sm-start">
                    Get in touch to discuss a freelance project, and build something amazing together.
                </p>
                <hr />
                <p class="text-center text-sm-start">
                    <a href="{% url 'contact:contact_page' %}" class="link-danger text-decoration-none fw-bold">
                        Let's connect
                        <i class="fas fa-arrow-right px-2" style="font-size: 1.3rem;"></i>
                    </a>
                </p>
            </div>
            <figure class="col-md-5">
                <img src="{% static 'images/home/contact.svg' %}" alt="Contact Images" class="img-fluid div-img-item">
            </figure>
        </aside>
    </div>
</section>

{% endblock super_body_content %}