* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --secondary-red: #db162f;
    --pag-red: rgb(206, 60, 60);
}

.create-btn a {
    text-decoration: none;
    color: var(--mywhite);
}

.create-btn {
    background-color: var(--myblue);
    padding: 6px 14px;
    border-radius: 4px
}

.create-btn:hover {
    background-color: transparent;
    padding: 5.5px 13.5px;
    border-radius: 4px;
    border: solid 1px var(--myblue);
    transition: all 0.3s ease-out;
}

.create-btn:hover a {
    color: var(--myblue);
}

.form-btn {
    color: var(--mywhite);
    background-color: var(--bs-success);
    padding: 6px 14px;
    border-radius: 4px
}


.form-btn:hover {
    color: rgb(4, 92, 4);
    background-color: transparent;
    padding: 5.5px 13.5px;
    border-radius: 4px;
    border: solid 1px var(--bs-success);
    transition: all 0.3s ease-out;
}

/* .semibold h3 p{
    font-weight: 600;
} */

.vote_button:hover {
    color: var(--myred);
}

.errorlist {
    list-style: none;
}

.django-ckeditor-widget {
    width: 100%;
}

.image-opacity:hover{
    opacity: 0.7;
    cursor: pointer;
}
.font-size-abv-comments{
    font-size: 0.8rem;
}

/* BLUE THEME */

.mypagination {
    margin-top: 1em;
    text-align: center;
    margin: auto;
}

.mypagination a {
    text-decoration: none;
}

.mypagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: var(--pag-red);
}

.mypagination-number:hover,
.mypagination-current {
    background-color: var(--myred);
    color: white;
    transition: all 0.3s ease-out;
}

.mypagination-action {
    margin: 0 0.1em;
    display: inline-block;
    
    color: #B9B9B9;
    font-size: 1.3em !important;
}

.mypagination-action:hover,
.mypagination-previous,
.mypagination-next {
    color: var(--myred);
}