{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}


{% block head_links %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
{% endblock head_links %}



{% block body_content %}
{% if user.is_authenticated %}

<div class="m-5 d-flex justify-content-center">
    <h1 class="fw-bold">Change Password</h1>
</div>

<div class="form-group">
    <form action="" method="post">
        {% csrf_token %}

        {{form|crispy}}

        <div class="mt-5 ml-3">
            <button type="submit" class="btn  btn-danger w-100">Update profile</button>
        </div>
    </form>
</div>
{% else %}

<div class="mb-5 posts">
    <h1 class="">You are not registered yet</h1>
</div>

<div class="mt-4">
    <hr>
</div>

<p class="mt-4">Login to edit your Profile
    <span class="px-3">
        <a href="{% url 'login' %}" class=" btn text-decoration-none btn-danger btn-sm">
            Sing In
        </a>
    </span>
</p>


{% endif %}
{% endblock body_content %}

{% block footer %}
{% endblock footer %}