{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}
{% block title %}Categories{% endblock title %}

{% block description %}
Categories of the Developer Road Blog:
{% for category in object_list %}
{{category.name}} ,
{% endfor %}
{% endblock description %}

{% block body_content %}

<div class="m-5">
    <h1 class="fw-bold h1 text-center">Categorie</h1>
</div>

<div class="row">
    <div class="col-md-7 text-center">
        <ul class="text-decoration-none list-unstyled d-flex flex-wrap justify-content-center">
            {% for category in object_list %}
                <li class="card card__relavant">
                    <a class="text-decoration-none text-dark w-100 h-100  p-3"
                        href="{% url 'blog:category_page' category.name|myslug %}">
                        {% if category.image %}
                        <img src="{{ category.image.url }}" alt="">
                        {% endif %}
                        <h5 class="">{{category.name|title}} 
                            <span class="text-danger fs-6 fw-light text-decoration-none">
                                Show Posts
                            </span>
                        </h5>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-5 my-auto">
        <div class="mt-4">
            <img src="{% static 'images/blog/category.svg' %}" alt="Categories image" class="img-fluid">
        </div>
    </div>
</div>

<div class="my-3  text-center">
    <span class="text-muted">
        There isn't the category you are looking for?
        <a href="{% url 'blog:add_category' %}" class="link-danger text-decoration-none">
            Create one
        </a>
    </span>
</div>

{% endblock body_content %}