{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}
{% block title %}Blog - Posts{% endblock title %}

{% block description %}
These are all the blog posts about Programming:
Python, Javascript, Frontend, Backend and Django Web Framework.
{% endblock description %}


{% block body_content %}

<div class="posts container-fluid vh-100 d-flex flex-column align-items-center justify-content-center ">
    <h1>Developer Road Blog</h1>
    <p class="intro-post">
        Diverse 
        <span>Programming tips</span> 
        and 
        <span>tutorials</span>
        of the most recent topics in the 
        <span>Tech World</span>
    </p>


<div class="m-3">
    {% include "blog/search_bar.html" %}
</div>

<div class="blog-posts">
    <div class="row g-0  d-flex align-items-center justify-content-center flex-column">
        <div class="col-md-8">
            {% include "blog/post_list.html"  with object=page_obj %}
        </div>
        <div class="col-md-4">
            {% if user.is_authenticated %}
            <div class="mb-5 p-3">

                <a href="{% url 'blog:add_post' %}" 
                   target="_blank" 
                   rel="#"
                   class="btn btn-secondary btn-md rounded-pill">
                   Add post 
                   <i class="px-2 text-white fas fa-plus-circle"></i>
                </a>
                <br />
            </div>
            {% endif %}
            /*
                |￣￣￣￣￣  
                | // TODO: Corregir el listado de categorías
                |＿＿＿_ 
            (\__/)|| 
            (•ㅅ•)|| 
            / 　 づ
            */
            <!-- Dropdown button
            <div class="btn-group dropdown-blog mb-4 p-3">
                <button type="button" class="btn btn-danger"><a class="text-decoration-none text-white"
                        href="{% url 'blog:categories_page' %}">Categories</a></button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">

                    {% for item in cat_items %}
                    <li><a class="dropdown-item"
                            href="{% url 'blog:category_page' item.name|string|myslug %}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
 -->
        </div>
    </div>
</div>
    
    {% if page_obj.paginator.num_pages > 1 %}
        {% include 'blog/pagination.html' with page_obj=page_obj %}
    {% endif %}

</div>
{% endblock body_content %}