<div class="w-100 d-flex align-items-center">
    <form class="d-flex w-100 h-100" action="{% url 'blog:search' %}" method="GET">
        <input name="q" class="form-control me-2" type="text" placeholder="Search an awesome post! 🤯" aria-label="Search">
        <button class="btn btn-danger" type="submit"><i class="fas fa-search text-white"></i></button>
    </form>
    <a href="#" id="a_searchClose" class="text-decoration-none d-sm-none">
        <i class='bx bx-plus btn btn-outline-danger mx-2'></i>
    </a>
</div>