{% extends 'base.html' %}

{% block title %}404 Page{% endblock title %}

{% block description %}
There is nothing here.
{% endblock description %}

{% block body_content %}
<div class="handler">
    <h1 class="error-title">404</h1>

    <div class="sorry-text">
        <p>Sorry, this <span>page</span> can't be <span>found</span></p>
    </div>

    <div class="my-btn-group">
        <button class="btn btn-danger"><a href="{% url 'home:home_page' %}">Take me to Home</a></button>
        <button class="btn btn-danger"><a href="{% url 'blog:blog_page' %}">Go to the Blog</a></button>
    </div>
</div>

{% endblock body_content %}