{% extends 'base.html' %}
{% load static %}
{% block title %}Edit profile{% endblock title %}

{% block head_links %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock head_links %}


{% block body_content %}
{% if user.is_authenticated %}
{% if user.id == profile_user.id %}
<div class="m-4 posts">
    <h1 class="">Edit profile</h1>
</div>

<div class="form-group">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} {{ form.first_name.label }}
        {{ form.first_name }} {% endcomment %}
        {{ form.as_p }}
        <div class="mt-5">
            <button type="submit" class="btn form-btn">Update profile</button>
        </div>
    </form>
</div>

<div class="mt-5">
    <h4 class="fw-bold">Change Password</h4>
    <p class="mt-3">If you want to change your password click <a href="{% url 'members:change_password' %}"
            class="link-danger">here</a></p>
</div>

{% else %}
<div class="posts container-fluid mt-5">
    <h1>Hey there {{ user.first_name }} {{ user.last_name }}</h1>
    <p class="intro-post">Trying to <span>break</span> the <span>system </span>?<br> Don't worry this site
        is <span>Prepared</span> for this type of hacks.</p>
</div>

{% endif %}
{% else %}

<div class="mb-5">
    <h1 class="">You are not registered yet</h1>
</div>

<hr>

<p class="mt-4">Login to edit your Profile
    <span class="px-3"><a href="{% url 'login' %}" class=" btn text-decoration-none btn-danger btn-sm">Sing
            In</a></span>
</p>

{% endif %}
{% endblock body_content %}