{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}
{% load bleach_tags %}

{% block title %}{{ requested_user }}{% endblock title %}

{% block description %}
{{ requested_user.description }}
{% endblock description %}


{% block body_content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="{% url 'members:profile' requested_user.id%}"><img
                    title="{{ requested_user.first_name }} {{ post.author.last_name }}"
                    class="rounded-circle mb-2 mt-3 center-phone-img image-opacity" width=200px height=200
                    src="{{ requested_user.profile_image.url }}"
                    alt="{{ requested_user.first_name }} {{ post.author.last_name }}"></a>
        </div>
        <div class="col-md-8">
            <div class="card-body center-phone">
                <a href="{% url 'members:profile' requested_user.id%}">
                    <h4 class="card-title">{{ requested_user.first_name }} {{ post.author.last_name }}</h4>
                </a>
                <p class="card-text">{{ requested_user.description }}</p>
                <div class="card-txt social-links mt-3">
                    {% if requested_user.website_url %}
                    <a class="px-3" href="{{ requested_user.website_url }}" target="_blank"><i
                            class="fas fa-cloud-upload-alt" title="Author Website"></i></a>
                    {% endif %}
                    {% if requested_user.instagram_url %}

                    <a class="px-3 " href="{{ requested_user.instagram_url }}" target="_blank"><i
                            class="fab fa-instagram" title="Author Instagram"></i></a>
                    {% endif %}
                    {% if requested_user.github_url %}
                    <a class="px-3 " href="{{ requested_user.github_url }}" target="_blank"><i class="fab fa-github"
                            title="Author Github"></i></a>
                    {% endif %}
                    {% if requested_user.twitter_url %}
                    <a class="px-3 " href="{{ requested_user.twitter_url }}" target="_blank"><i class="fab fa-twitter"
                            title="Author Twitter"></i></a>
                    {% endif %}
                    {% if requested_user.linkedin_url %}
                    <a class="px-3 " href="{{ requested_user.linkedin_url }}" target="_blank"><i class="fab fa-linkedin"
                            title="Author Linkedin"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if requested_user.id == user.id %}
<a href="{% url 'members:edit' %}" class="btn btn-danger">Edit Profile</a>
{% endif %}


{% endblock body_content %}