{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}
{% load bleach_tags %}

{% block title %}{{ requested_user }}{% endblock title %}

{% block description %}
{{ requested_user.description }}
{% endblock description %}


{% block body_content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="{% url 'members:profile' requested_user.id%}"><img
                    title="{{ requested_user.first_name }} {{ post.author.last_name }}"
                    class="rounded-circle mb-2 mt-3 center-phone-img" width=200px height=200
                    src="{{ requested_user.profile_image.url }}"
                    alt="{{ requested_user.first_name }} {{ post.author.last_name }}"></a>
        </div>
        <div class="col-md-8">
            <div class="card-body center-phone">
                <h4 class="card-title mb-3">{{ requested_user.first_name }} {{ requested_user.last_name }}</h4>
                <p class="card-text text-muted">Joined on {{ requested_user.date_joined|date:"M d, Y" }}</p>
                <p class="card-text">{{ requested_user.description }}</p>
                <div class="card-txt social-links mt-3">
                    {% if requested_user.website_url %}
                    <a class="px-3" href="{{ requested_user.website_url }}" target="_blank"><i
                            class="fas fa-cloud-upload-alt" title="Author Website"></i></a>
                    {% endif %}
                    {% if requested_user.instagram_url %}

                    <a class="px-3 " href="{{ requested_user.instagram_url }}" target="_blank"><i
                            class="fab fa-instagram" title="Author Instagram"></i></a>
                    {% endif %}
                    {% if requested_user.github_url %}
                    <a class="px-3 " href="{{ requested_user.github_url }}" target="_blank"><i class="fab fa-github"
                            title="Author Github"></i></a>
                    {% endif %}
                    {% if requested_user.twitter_url %}
                    <a class="px-3 " href="{{ requested_user.twitter_url }}" target="_blank"><i class="fab fa-twitter"
                            title="Author Twitter"></i></a>
                    {% endif %}
                    {% if requested_user.linkedin_url %}
                    <a class="px-3 " href="{{ requested_user.linkedin_url }}" target="_blank"><i class="fab fa-linkedin"
                            title="Author Linkedin"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if requested_user.id == user.id %}
<a href="{% url 'members:edit' user.id%}" class="btn btn-danger">Edit Profile</a>
{% endif %}

{% if user_posts %}

<div class="fluid-container mt-4 m-5">
    <h2 class="text-center fs-2 fw-bold">
        Posts by {{ requested_user.first_name }} {{ requested_user.last_name }}
    </h2>
</div>
{% endif %}

{% for post in user_posts %}

<div class="card w-70 rounded m-3">
    {% if post.header_image %}
    <div class="card mb-3">
        <img src="{{ post.header_image.url }}" alt="No image for this Post" class="card-img-top">
    </div>
    {% endif %}
    <div class="blog-abv p-3 pt-3">
        <span>{{ post.date }}</span>
        {% if post.category %}
        <span class="px-2">·</span>
        <div class="category">
            <span><a href="{% url 'blog:category_page'  post.category|myslug %}">{{ post.category }}</a></span>
        </div>
        {% endif %}
    </div>

    <div class="blog-title semibold p-3">
        <h3 class="fs-2">{{ post.title|title }}</h3>
    </div>


    {% if post.description %}
    <p class="blog-description p-3 fs-5">{{ post.description | slice:":200" }}</p>
    {% else %}
    <p class="blog-description p-3 fs-5">{{ post.body | striptags | slice:":200" }}</p>
    {% endif %}


    <a href="{% url 'blog:article_page' post.pk %}" class="Read-full p-3">Read full Post</a>

    {% if user.is_authenticated and  user.id == post.author.id %}
    <div class="p-3">
        <small><a href="{% url 'blog:delete_page' post.pk %}" class="link-danger">Delete
                post</a></small>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock body_content %}