{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}
{% load bleach_tags %}

{% block title %}{{ requested_user }}{% endblock title %}

{% block description %}
{{ requested_user.description }}
{% endblock description %}


{% block body_content %}
<div class="card m-4">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="{% url 'members:profile' requested_user.id%}"><img
                    title="{{ requested_user.first_name }} {{ post.author.last_name }}"
                    class="rounded-circle mb-2 mt-3 center-phone-img" width=200px height=200
                    src="{{ requested_user.profile_image.url }}"
                    alt="{{ requested_user.first_name }} {{ post.author.last_name }}"></a>
        </div>
        <div class="col-md-8">
            <div class="card-body center-phone">
                <h4 class="card-title mb-3">{{ requested_user.first_name }} {{ requested_user.last_name }}</h4>
                <p class="card-text text-muted">Joined on {{ requested_user.date_joined|date:"M d, Y" }}</p>
                <p class="card-text">{{ requested_user.description }}</p>
                <div class="card-txt social-links mt-3">
                    {% if requested_user.website_url %}
                    <a class="px-3" href="{{ requested_user.website_url }}" target="_blank"><i
                            class="fas fa-cloud-upload-alt" title="Author Website"></i></a>
                    {% endif %}
                    {% if requested_user.instagram_url %}

                    <a class="px-3 " href="{{ requested_user.instagram_url }}" target="_blank"><i
                            class="fab fa-instagram" title="Author Instagram"></i></a>
                    {% endif %}
                    {% if requested_user.github_url %}
                    <a class="px-3 " href="{{ requested_user.github_url }}" target="_blank"><i class="fab fa-github"
                            title="Author Github"></i></a>
                    {% endif %}
                    {% if requested_user.twitter_url %}
                    <a class="px-3 " href="{{ requested_user.twitter_url }}" target="_blank"><i class="fab fa-twitter"
                            title="Author Twitter"></i></a>
                    {% endif %}
                    {% if requested_user.linkedin_url %}
                    <a class="px-3 " href="{{ requested_user.linkedin_url }}" target="_blank"><i class="fab fa-linkedin"
                            title="Author Linkedin"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if requested_user.id == user.id %}
<div class="m-4">
    <a href="{% url 'members:edit' user.id%}" class="btn btn-danger">Edit Profile</a>
</div>
{% endif %}

{% comment %} Used only in Blog App {% endcomment %}
{% if user_posts %}

<div class="fluid-container mt-4 m-5">
    <h2 class="text-center fs-2 fw-bold">
        Posts by {{ requested_user.first_name }} {{ requested_user.last_name }}
    </h2>
</div>
{% endif %}

{% include "blog/post_list.html" with object=user_posts %}
{% endblock body_content %}