{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}
{% block title %}Category: {{ category_post.name|title }}{% endblock title %}

{% block description %}
Page of Category: {{ category_name.title|title }}
{% endblock description %}


{% block body_content %}

<h1>{{ category_name.name|title }}</h1>

<br>
{% for post in category_post %}

<ul>
    <div class="blog-abv">
        <span>By {% if post.author.first_name and post.author.last_name %} {{ post.author.first_name }}
            {{ post.author.last_name }} {% else %} {{ post.author }}{% endif %}</span>
        <span class="px-2">·</span>
        <span>{{ post.date }}</span>
    </div>

    <div class="blog-title semibold">
        <h3>{{ post.title|title }}</h3>
    </div>


    {% if post.description %}
    <p class="blog-description">{{ post.description | slice:":200" }}</p>
    {% else %}
    <p class="blog-description">{{ post.body | escape | slice:":200" }}</p>
    {% endif %}


    <a href="{% url 'blog:article_page' post.pk %}" class="Read-full">Read full Post</a>

    {% if user.is_authenticated %}
    <br><br><small><a href="{% url 'blog:delete_page' post.pk %}" class="link-danger">Delete post</a></small>
    {% endif %}
</ul>

{% empty %}
<p>There are not post with {{ category_name.name }} category yet</p>

{% if user.is_authenticated %}

<a href="{% url 'blog:add_post' %}" <button type="button" class="btn btn-primary btn-lg">Add
    post</a>

{% endif %}

{% endfor %}


<br>
<br>
{% if user.is_authenticated %}
<a href="{% url 'blog:add_post' %}" target="_blank" rel="#" <button type="button" class="btn btn-primary btn-lg">Add
    post</a>
{% endif %}




{% endblock body_content %}