{% extends 'base.html' %}
{% block title %}Post : {{ post.title }}{% endblock title %}

{% block description %}
{{ post.description }}
{% endblock description %}


{% block body_content %}

<div class="blog-abv">
    <span>By {{ post.author.first_name }} {{ post.author.last_name }}</span>
    <span class="px-2">·</span>
    <span>{{ post.date }}</span>
    <span class="px-2">·</span>
    <div class="category">
        <span><a href="{% url 'blog:category_page'  post.category %}">{{ post.category }}</a></span>
    </div>
</div>

<div class="blog-title-page">
    <h1>{{ post.title }}</h1>
</div>

{% if user.is_authenticated %}
<br><small><a href="{% url 'blog:delete_page' post.pk %}" class="link-danger">Delete post</a></small>
{% endif %}
<hr>

<div class="col-md-8">
    <p>
        {{ post.body|safe }}

    </p>
</div>

{% if user.is_authenticated %}
<a href="{% url 'blog:edit_page' post.pk %}" rel="#" <button type="button" class="btn btn-secondary btn-sm detail-button">Edit
    post</a>
{% endif %}

{% endblock body_content %}