{% extends 'base.html' %}
{% load static %}
{% block title %}Blog - Posts{% endblock title %}

{% block description %}
These are all the blog posts about Programming:
Python, Javascript, Frontend, Backend and Django.
{% endblock description %}


{% block body_content %}

<h1>Posts</h1>

{% for post in object_list %}

<ul>
    <h3><a href="{% url 'blog:article_page' post.pk %}">{{ post.title }}</a> by {{ post.author.first_name }}
        {{ post.author.last_name }} - <small>{{ post.date }}</small></h3>


    <small><a href="{% url 'blog:delete_page' post.pk %}" class="link-danger">Delete post</a></small>
</ul>
{% endfor %}


<br>
<br>
<a href="{% url 'blog:add_post' %}" target="_blank" rel="#" <button type="button" class="btn btn-primary btn-lg">Add
    post</a>

{% endblock body_content %}