{% extends 'base.html' %}
{% block title %}{{ project.title }}{% endblock title %}

{% block body_content %}
<div class="mx-auto text-center my-4">
    <h1 class="fw-bold">{{ project.title }}</h1>
</div>

{% if user.is_admin %}

<div class="my-5 mx-auto text-center">
    <a href="{% url 'projects:edit' project.pk%}" class="btn btn-danger btn-rounded-pill">
        Edit Project
    </a>
</div>
{% endif %}

<div class="row">
    {% if project.image %}
    <div class="col-md-8">
        <img src="{{ project.image.url }}" alt="" width="100%">
    </div>
    {% endif %}
    <div class="col-md-4 py-16">
        <div class="mb-3 ">
            <h5 class="fw-bold">About the project:</h5>
        </div>
        <div class="mb-3">
            <p>{{ project.description }}</p>
        </div>
        <div class="mb-3 mt-md-5">
            <h5 class="fw-bold">Technologies used:</h5>
            <p>{{ project.technology }}</p>
            <div class="mt-md-5">
                <h5 class="fw-bold">Skills learned:</h5>
                <p>{{ project.skill }}</p>
            </div>
        </div>
        {% if project.project_url %}
        <div class="m4">
            <a href="{{ project.project_url }}" class="btn btn-danger rounded-pill" target="_blank">
                Follow the project
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock body_content %}