{% extends "base.html" %}
{% load static %}
{% load extra_filters %}

{% block title %}My Projects{% endblock title %}

{% block body_content %}

<div class="posts container-fluid mt-5">
    <h1>My Personal Projects</h1>
</div>

{% if user.is_admin %}
<div class="row">
    <div class="col-6 align-self-end">

        <div class="mb-5 p-3">

            <a href="{% url 'projects:add' %}" target="_blank" rel="#"
                class="btn btn-secondary btn-md rounded-pill">Add
                Project <i class="px-2 text-white fas fa-plus-circle"></i></a> <br>
        </div>
    </div>

</div>


{% endif %}
<div class="container-sm">

    <p><i>Featured Projects</i></p>
</div>

{% if page_obj.paginator.num_pages > 1 %}

{% include 'blog/pagination.html' with page_obj=page_obj %}

{% endif %}



<div class="row g-3">

    {% for project in page_obj %}
    <div class="col-md-4">
        <div class="card mb-2">
            {% if project.image %}
            {% comment %} <img class="card-img-top" src="{{ project.image.url }}"
                style="height: 289.13px; width: 514px;"> {% endcomment %}
            <img class="card-img-top" src="{{ project.image.url }}">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title fw-bold">{{ project.title }}</h5>
                    <p class="card-text text-muted">{{ project.description }}</p>
                    <a href="{% url 'projects:detail-project' project.pk %}" class="btn btn-danger">
                        Read More
                    </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>




<div class="posts container-fluid mt-5">
    <h1 class="fs-lg-3">My projects on Github</h1>
    <p class="text-muted">Latest projects</p>
</div>

<div class="container">
    {% for repo in repos_user %}
    <div class="card text-center m-3">
        <div class="card-header">
            {% if repo.fork %}
            Forked <i class="fas fa-code-branch"></i>
            {% else %}
            Original <i class="fab fa-github-alt"></i>
            {% endif %}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ repo.name }}</h5>
            {% if repo.description %}
            <p class="card-text py-2">{{ repo.description }}</p>
            {% endif %}
            <div class="py-3">
                <a href="{{ repo.url }}" class="btn btn-danger" target="_blank">On github! <i
                        class="fab fa-github text-white px-2"></i></a>
            </div>
        </div>
        <div class="card-footer text-muted">
            {% if repo.fork %}
            <p>Forked on: {{ repo.created|mydate }}</p>
            {% else %}
            <p>Created on: {{ repo.created|mydate }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="my-5 text-center">
        <p class="text-muted">Want to see all my {{ repos_count }} projects ?, go to my <a class="link-danger"
                href="https://github.com/Daniel1404" target="_blank">Github
                account</a> </p>
    </div>

</div>




{% endblock %}