{% load static %}

<div class="nav-container">
    <nav class="my-navbar overlay">

        {% comment %} Logo navbar {% endcomment %}
        <div class="logo">
            <a href="{% url 'home:home_page' %}">
                <h1><i class="fas fa-code ml-2"></i>DeveloperRoad</h1>
            </a>
        </div>
        {% comment %} Navbar links for the page {% endcomment %}
        <ul class="my-nav-menu">
            <li><a class="nav-links" href="{% url 'home:home_page' %}">Home</a></li>
            <li><a class="nav-links" href="{% url 'about:about_page' %}">About</a></li>
            <li><a class="nav-links" href="{% url 'contact:contact_page' %}">Contact us</a></li>
            <li><a class="nav-links" href="{% url 'projects:my_projects' %}">Projects</a></li>
            <li><a class="nav-links" href="{% url 'blog:blog_page' %}">Blog</a></li>
            {% if user.is_authenticated %}
            <div class="navbar-image-phone dropdown">
                <img src="{{ user.profile_image.url }}" alt="{{ user.first_name }} {{user.last_name}}"
                    class="rounded-circle user-navbar-image dropdown-toggle" id="navbarDarkDropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li class="ps-2"><a class="nav-links" href="{% url 'members:profile' user.id %}">Your Profile</a></li>
                    <li class="ps-2"><a class="nav-links" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <li><a class="nav-links sign-button" href="{% url 'login' %}">Sign in</a></li>
            {% endif %}
        </ul>
        {% comment %} hamburger menu {% endcomment %}
        <div class="menu-toggle" id="mobile-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>
</div>