{% extends 'base.html' %}
{% load static %}
{% block title %}About page{% endblock title %}

{% block head_links %}
{{ block.super }}
{% comment %} Home page font {% endcomment %}
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
{% endblock head_links %}
{% block super_body_content %}

<div class="about-cover">
    <div class="about-cover-caption">
        <h2>Programming and <br>Coffee <i class="fas fa-mug-hot"></i></h2>
    </div>
</div>

<div class="container min-vh-100 overflow-auto">
    <div class="mx-auto text-center my-5">
        <h2 class="fs-11  fw-bold">
            Hey there 
            <br />
            <span class="text-red">Awesome People</span>
        </h2>
    </div>
    
    <div class="row g-0">
        <div class="col-md-4 my-auto mx-auto d-flex justify-content-center">
            <img    class="rounded-circle mb-2 mt-3 center-phone-img image-opacity" 
                    width=200px
                    height=200 
                    src="{% static 'images/about/face.png' %}" 
                    alt="Daniel Diaz" />
        </div>
        <div class="col-md-8 px-2 py-5">
            <div class="card-body center-phone">
                <div class="mb-4  mx-auto text-center">
                    <h4 class="card-title fs-2">About the 
                        <span class="text-danger">
                            author 
                        </span>
                    </h4>
                </div>
                <h4 class="card-title">
                    <span class="text-red">
                        I'm
                    </span> 
                    Daniel Diaz
                </h4>
                <p class="text-justify">
                    Hi, I'm Daniel Diaz the creator of Developer Road, I taught my self to code by
                    the time I was 15,
                    by watching free tutorials, videos and blogs. I think that learn how to code gives you the
                    ability of make reality anything you can Imagine.
                    <br />
                    And because of that Idea I created this Site, to share knowledge and experience and to let other
                    people, to do so.
                </p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <h3 class="text-center my-5" >Other contributors</h3>
        <div class="row text-center d-flex justify-content-center">
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://avatars.githubusercontent.com/u/52179095?s=460&u=3c32f626fcbc00f39db5da407a76ce7a0bb3e7f3&v=4" alt="Nicolas picture" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Nicolas Jiménez</h5>
                <span class="small text-uppercase text-muted">Front dev</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://github.com/Nicolas-alt" target="_blank" class="social-link">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/Nicolas35103573" class="social-link" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/nicolas-jimenez-b20660184/" class="social-link" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://nicolas-alt.vercel.app" class="social-link" target="_blank">
                            <i class="fas fa-globe"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>


{% endblock super_body_content %}