{% extends 'base.html' %}
{% load static %}

{% block title %}Contact us{% endblock title %}

{% block body_content %}

<div class="container">
    <div class="row py-5 align-items-center justify-content-center vh-100">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pl-lg-5 mb-5 mb-md-0">
            <img src="{% static 'images/contact/mail.svg' %}" alt="Developer Road"
                class="img-fluid mb-3 d-none d-md-block">
            <h1 class="fw-bold">Contact us</h1>
            <p class="fst-italic text-muted mb-0">
                Let's get in touch to build something amazing 
                <a href="{% url 'home:home_page' %}" class="text-muted">
                    <u>Developer Road</u>
                </a>
            </p>
        </div>

        <!-- Sign In Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form action="#" method="POST">
                {% csrf_token %}
                <div class="row">

                    <!-- name -->
                    <div class="input-group col-lg-12 mb-4">
                        {{form.name}}
                    </div>
                    <div class="font-italic text-muted mb-2 ml-3 mr-3 ">
                        {{ form.name.errors }}
                    </div>


                    <!-- Email form -->
                    <div class="input-group col-lg-12 mb-4">
                        {{form.email}}
                    </div>
                    <div class="font-italic text-muted mb-2 ml-3 mr-3 ">
                        {{ form.email.errors }}
                    </div>

                    <!-- Email form -->
                    <div class="input-group col-lg-12 mb-4">
                        {{form.message}}
                    </div>
                    <div class="font-italic text-muted mb-2 ml-3 mr-3 ">
                        {{ form.message.errors }}
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" class="btn btn-danger w-100 py-2">
                            <span class="font-weight-bold">Send the message</span>
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body_content %}