:root {
  /* Text colors */
  --myblack: #212738;
  --myblack-hover: #404c6d;

  --myred: #ef233c;
  --myred-hover: #b91528;
  --mywhite: #e8e9f3;
  --myblue: #0075c4;

  --text-gray: #73818d;
  --text-gray-hover: #414b53;

  --text-white: #fff;
  --text-white-hover: rgb(212, 208, 208);

  /* Category text */
  --text-category: #4e6375;
  --text-category-hover: #1c2f3f;

  --secondary-red: #db162f;
  --red: rgb(206, 60, 60);
  --menu-color: #212940;
  --nav-height: 75px;
  --base-10: #eef0f1;
  --category: rgb(210, 215, 233);
  --blog-author-details: #73818d;
  --hover-color: #b8c2c9;
  --hover-color: #b8c2c9;
  /* Footer stuff */
  --footer-color: #627482;
  --footer-margin-top: 22vh;
  /* Post content stuff */
  --radius: 5px;
  --img-radius: 3px;
  --content-margin: 1.125rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--base-10);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--myred)
}

a:hover {
  color: var(--myred-hover);
}

/*
==================
-> Scroll config <- 
==================
*/

::-webkit-scrollbar {
  width: 6px;
  height: 11px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ef233e;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff6582;
}

::-webkit-scrollbar-thumb:active {
  background: #bb2d3b;
}

::-webkit-scrollbar-track {
  background: #514e7f;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #514e7f;
}

::-webkit-scrollbar-track:active {
  background: #3f3d51;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*
==================
-> Navbar <- 
==================
*/

.header-nav {
  position: relative;
  z-index: 10;
  height: var(--nav-height) !important;
  background-color: var(--myblack);
}

.header-nav ul {
  list-style: none;
}

.nav-links {
  color: var(--mywhite);
}

.nav-links:hover {
  color: var(--myred);
}

.div__searchBar {
  display: flex !important;
  padding: 1em 0.3em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: var(--menu-color);
  height: var(--nav-height);
  width: 100vw;
}

.ul_dropDown-none {
  display: none;
}

.ul_dropDown-visible,
.ul_dropDownLinks-visible {
  position: absolute;
  top: 4em;
  z-index: 1040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  background-color: var(--menu-color);
  min-height: 200px;
  min-width: 60vw;
}

/* Drop down profile options*/
.ul_dropDown-visible {
  z-index: 1040;
  top: 4.5em;
  right: 10%;
  padding: 0;
  height: auto;
}

.ul_dropDown-visible .p__dropDownUserName {
  font-size: 16px;
}

/* Drop down for nav options*/
.ul_dropDownLinks-visible {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  z-index: 1040;
  top: 5em;
  right: 10%;
  padding: 0;
  min-width: 90vw;
}

.ul_dropDownLinks-visible li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.ul_dropDownLinks-visible li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Drop down all options */
#iconDropDown,
#i_search {
  cursor: pointer;
}

@media screen and (min-width: 768px) {

  /* Logged user*/
  .ul_dropDown-visible {
    min-height: 150px;
    min-width: 20vw;
    z-index: 1040;
  }

  /* Links */
  .ul_dropDownLinks-visible {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    z-index: 1040;
    top: 5em;
    right: 10%;
    padding: 0;
    min-height: 100px;
    min-width: 90vw;
  }
}

/*
==================
-> Home & About screen <- 
==================
*/
.home-cover,
.about-cover {
  box-shadow: inset 0 0 5rem rgb(0 8 51 / 90%);
  background-color: #212940;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - var(--nav-height));
  width: 100%;
}

.home-cover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23ef233c' fill-opacity='0.74'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.about-cover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ef233c' fill-opacity='0.92' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.home-cover-caption h2 {
  font-family: 'Courgette', cursive;
  text-shadow: 2px 2px rgb(82 92 112);
  color: var(--mywhite);
}

.home-cover-caption p {
  text-shadow: 2px 2px rgb(82 92 112);
  color: var(--mywhite);
}

.icons-home {
  color: var(--myred);
}

/* About */
.h2__about {
  text-align: center;
  font-family: 'Courgette', cursive;
  color: var(--mywhite);
  text-shadow: 2px 2px rgb(82 92 112);
}

/*
==================
-> Blog Actions <- 
==================
*/

/* -> Styles for <code> tag post, the name is the default name <- */
.hljs {
  background-color: white  !important;
}

.create-btn:hover {
  padding: 5.5px 13.5px;
  border-radius: 4px;
  background-color: transparent;
  transition: all 0.3s ease-out;
  border: solid 1px var(--myblue);
}

/* Form create article*/
.form-btn {
  color: var(--mywhite);
  background-color: var(--bs-success);
}

.vote_button:hover {
  color: var(--myred);
}

.django-ckeditor-widget {
  width: 100%;
}

/*
==================
->   Buttons    <- 
==================
*/
.btn__top {
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  transition: all 0.2s;
  background: transparent;
}


.btn__top--active {
  color: #0e1d46;
  background-color: #cad5f3;
}

.btn__top:hover {
  background-color: #d8deee;
  color: rgb(26, 28, 139);
}

@media all and (max-width:30em) {
  .btn__top {
    display: block;
    margin: 0.2em auto;
  }
}




/*
==================
-> Pagination <- 
==================
*/

.mypagination-number {
  padding: 0.5em 0.8em;
  border-radius: 2px;
  color: var(--text-white);
  background-color: var(--myred);
}

.mypagination-number:hover {
  color: var(--text-white-hover);
}

.mypagination-action {
  margin: 0 0.1em;
  display: inline-block;
  color: #b9b9b9;
  font-size: 1.3em !important;
}

.mypagination-action:hover,
.mypagination-previous,
.mypagination-next {
  color: var(--myred);
}

/*
==================
-> Color text <- 
==================
*/

.text-red {
  color: var(--myred);
}

.text-red:hover {
  color: var(--myred-hover);
}

.text-gray {
  color: var(--text-gray);
}

.text-gray:hover {
  color: var(--text-gray-hover);
}

.text-my-black {
  color: var(--myblack);
}

.logo h1 {
  color: var(--mywhite);
}

/*
==================
-> Blog card <- 
==================
*/

.card-img-top {
    object-fit: cover !important;
}

.card {
  margin: 0 !important;
  border: none !important;
}

.card__relavant {
  margin: 1em !important;
  box-shadow: 15px 15px 20px -10px rgba(0, 0, 0, 0.09);
}

.div__profileCard {
  border-radius: 0.5em;
  box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.09);
}

.img__cardPostDeails {
  border: 0.3em solid #e8f1fd;
  max-width: 6em;
  min-width: 6em;
  min-height: 6em;
  margin-right: 1em;
}

@media screen and (max-width: 768px) {
  .img__cardPostDeails {
    max-width: 4em;
    min-width: 4em;
    min-height: 4em;
    margin-right: 0;
  }
}

/*
==================
-> Blog categories list  <- 
==================
*/


.div__categories {
  position: sticky;
  top: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1em;
  height: auto;
  overflow-x: auto;
}

.span__category {
  font-size: 11px;
  background-color: rgb(210, 215, 233);
  color: var(--text-category);
  padding: 3px 5px;
  border-radius: 3px;
  border-width: 1px;
  text-align: center;
}

.span__category:hover {
  color: var(--text-category-hover);
}

.span__red {
  color: var(--myred);
}

.title__color {
  color: var(--myblack);
}

.title__color:hover {
  color: var(--myblack-hover);
}

.image__postOwner {
  min-height: 3em;
  min-width: 3em;
  max-width: 3em;
  max-height: 3em;
}

.blog__itemsSticky {
  top: 1em;
  background-color: white;
}

.a__zIndex {
  position: relative;
  z-index: 10;
}


.blog__itemStikyBackground {
  position: absolute;
  left: 0;
  height: 34px;
  width: 100%;
  background-color: var(--myblack);
}

.sticky-top {
  z-index: 0 !important;
}

.div__search {
  width: 50% !important;
}

@media screen and (max-width: 768px) {
  .image__postOwner {
    min-height: 2.5em;
    min-width: 2.5em;
    max-width: 2.5em;
    max-height: 2.5em;
  }


  .div__search {
    width: 25% !important;
  }
}

/*
==================
-> Sign in & Sign up <- 
==================
*/

.sign-button {
  border-radius: 0.5em;
  background-color: var(--myred);
}

.error-title {
  color: var(--secondary-red);
}

.error-message-wrapper {
  border: 1px solid var(--myred-hover);
  padding: 7px;
  border-radius: 25px;
  margin: 0 auto;

  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.error-login-size {
  font-size: 0.8rem;
}

/*
==================
-> User profile <- 
==================
*/

.div__userBackground {
  position: absolute;
  left: 0;
  z-index: 0;
  background-color: #273764;
  margin-top: -3em;
  height: 14em;
  width: 100%;
}

.div__userProfile {
  border-radius: 1em;
  position: relative;
  z-index: 5;
  margin-top: 3em;
  padding: 1em;
  background-color: white;
}

.a__userImageProfile {
  position: relative;
  margin: 0 auto;
  bottom: 3rem;
  width: auto;
}

@media screen and (max-width: 576px) {
  .a__userImageProfile {
    margin: 0;
  }
}

.a__userImageProfile img {
  border: 5px solid #273764;
  background-color: #273764;
  width: 5em;
  min-height: 5em;
  min-width: 5em;
  object-fit: cover;
}

.a__userEditProfile {
  height: 50%;
}

/*
==================
-> Detail Post Images <- 
==================
*/

.post-content-wrapper img,
.post-content-wrapper video {
  height: auto;
  display: block;
  margin: var(--content-margin) auto;
  max-width: 100%;
  max-height: calc(50vh + 180px);
  border-radius: var(--img-radius);
}

/*
==================

-> Footer <- 
==================
*/

footer {
  margin-top: var(--footer-margin-top);
  background-color: #212738;
  margin-bottom: -1em;
}

footer a:hover {
  color: white;
}

.footer-links {
  color: var(--footer-color);
  text-decoration: none;
}

.rights {
  color: var(--footer-color);
}

.footer-icons,
.heart {
  color: var(--myred);
}

.heart {
  font-size: 0.9rem !important;
}