.handler{
    height: 40vh;
    width: 50vh;
    display: flex;
    
    /* justify-content: space-around; */
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.error-title{
    margin: 15px;
    color: var(--secondary-red);
    font-weight: bold;
    font-size: 50px;
}

.sorry-text{
    font-size: 16;
    font-weight: 600;
}

.sorry-text span{
    color: var(--secondary-red);
}

.my-btn-group a{
    color: white;
    text-decoration:none;
}