* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #212738;
}


.container {
    max-width: 960px;
}


/* logo font and image styles  */
.logo {
    display: flex;
    align-items: center;
}

.logo h4 {
    color: #E8E9F3;
    letter-spacing: 2px;
    font-size: 22px;
}


.logo img {
    float: left;
    width: auto;
    height: 4em;


}





.img-footer img {
    position: relative;
    width: 150px;
    height: 150px;
}