
@media screen and (max-width: 768px) {
    /* .logo {
        margin: 0px auto 0px auto;
    } */

    .menu-toggle div{
        display: block;
        width: 25px;
        height: 4px;
        background-color: var(--mywhite);
        margin: 5px;
        cursor: pointer;
    }
    nav{
        position: relative;
    }
    .menu-toggle{
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translate(-5%, -50%);
    }

    .my-nav-menu{
        position: fixed;
        background-color: var(--myblack);
        height: 100%;
        width: 100%;
        flex-direction: column;
        /* display: none; */
    }
}