{% extends 'base.html' %}
{% load static %}

{% block title %}Add a post{% endblock title %}

{% block body_content %}
{% if user.is_authenticated %}
<h1>Add post</h1>
<div class="form-group">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.media}}
        {{ form.as_p }}
        <button type="submit" class="btn form-btn">Post</button>

    </form>
</div>
<hr>
<p>There is not the category you are looking for?<br>
    <a href="{% url 'blog:add_category' %}">Create one</a>
</p>

{% else %}
<h1>Sorry. You are not Allowed to add a Post</h1>
{% endif %}

{% endblock body_content %}

{% block scripts %}
    {{ block.super }}
    {% include "blog/author.html" %}
{% endblock scripts %}