{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}
{% block title %}Blog - Posts{% endblock title %}

{% block description %}
These are all the blog posts about Programming:
Python, Javascript, Frontend, Backend and Django Web Framework.
{% endblock description %}


{% block body_content %}

<div class="posts container-fluid mt-5 mb-5">
    <h1>Developer Road Blog</h1>
    <p class="intro-post">Diverse <span>Programming tips</span> and <span>tutorials</span> of the most
        recent topics in the <span>Tech World</span></p>
</div>



<div class="blog-posts">
    <div class="row g-0">
        <div class="col-md-8">
            {% for post in page_obj %}
            <div class="card w-70 rounded m-3">
                {% if post.header_image %}
                <div class="mb-3">
                    <img src="{{ post.header_image.url }}" alt="No image for this Post" class=" card-img-top">
                </div>
                {% endif %}
                <div class="blog-abv p-2 pt-3">
                    <a href="{% url 'members:profile' post.author.id %}"><span class="px-2"><img
                                src="{{ post.author.profile_image.url }}" alt="" class="rounded-circle image-opacity"
                                width=30 height=30> </span>
                        <span> {{ post.author.first_name }} {{ post.author.last_name }} </span></a>
                    <span class="px-2">·</span>
                    <span>{{ post.date }}</span>
                    {% if post.category %}
                    <span class="px-2">·</span>
                    <div class="category">
                        <span><a
                                href="{% url 'blog:category_page'  post.category|myslug %}">{{ post.category }}</a></span>
                    </div>
                    {% endif %}
                </div>

                <div class="blog-title semibold p-3">
                    <h3 class="fs-2">{{ post.title|title }}</h3>
                </div>


                {% if post.description %}
                <p class="blog-description p-3 fs-5">{{ post.description | slice:":200" }}</p>
                {% else %}
                <p class="blog-description p-3 fs-5">{{ post.body | striptags | slice:":200" }}</p>
                {% endif %}


                <a href="{% url 'blog:article_page' post.pk %}" class="Read-full p-3">Read full Post</a>

                {% if user.is_authenticated and  user.id == post.author.id %}
                <div class="p-3">
                    <small><a href="{% url 'blog:delete_page' post.pk %}" class="link-danger">Delete
                            post</a></small>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% if user.is_authenticated %}
            <div class="mb-5 p-3">

                <a href="{% url 'blog:add_post' %}" target="_blank" rel="#"
                    class="btn btn-secondary btn-md rounded-pill">Add
                    post <i class="px-2 text-white fas fa-plus-circle"></i></a> <br>
            </div>
            {% endif %}
            <!-- Dropdown button -->
            <div class="btn-group dropdown-blog mb-4 p-3">
                <button type="button" class="btn btn-danger"><a class="text-decoration-none text-white"
                        href="{% url 'blog:categories_page' %}">Categories</a></button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">

                    {% for item in cat_items %}
                    <li><a class="dropdown-item"
                            href="{% url 'blog:category_page' item.name|string|myslug %}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
    
    {% if page_obj.paginator.num_pages > 1 %}

        {% include 'blog/pagination.html' with page_obj=page_obj %}

    {% endif %}


{% endblock body_content %}