{% load static %}

{% load extra_filters %}

{% for post in object %}
<div class="card w-70 rounded m-3">
    {% if post.header_image %}
    <div class="mb-3">
        <img src="{{ post.header_image.url }}" alt="No image for this Post" class=" card-img-top">
    </div>
    {% endif %}
    <div class="blog-abv p-2 pt-3">
        {% if not image_hidden %}
        <a href="{% url 'members:profile' post.author.id %}"><span class="px-2"><img
                    src="{{ post.author.profile_image.url }}" alt="" class="rounded-circle image-opacity" width=30
                    height=30> </span>
            <span> {{ post.author.first_name }} {{ post.author.last_name }} </span></a>
        <span class="px-2">·</span>
        <span class="">{{ post.date }}</span>
        {% else %}
        <span class="ms-3">{{ post.date }}</span>
        {% endif %}
        {% if post.category and not category_hidden%}
        <span class="px-2 ">·</span>
        <div class="category">
            <span><a href="{% url 'blog:category_page'  post.category|myslug %}">{{ post.category }}</a></span>
        </div>
        {% endif %}
    </div>

    <div class="blog-title semibold p-3">
        <h3 class="fs-2">{{ post.title|title }}</h3>
    </div>


    {% if post.description %}
    <p class="blog-description p-3 fs-5">{{ post.description | slice:":200" }}</p>
    {% else %}
    <p class="blog-description p-3 fs-5">{{ post.body | striptags | slice:":200" }}</p>
    {% endif %}


    <a href="{% url 'blog:article_page' post.pk %}" class="Read-full p-3">Read full Post</a>

    {% if user.is_authenticated and  user.id == post.author.id %}
    <div class="p-3">
        <small><a href="{% url 'blog:delete_page' post.pk %}" class="link-danger">Delete
                post</a></small>
    </div>
    {% endif %}
</div>

{% empty %}
<div class="posts mt-5">
    <h2 class="text-muted">Sorry there are not Post with that words included</h2>

    <p class="pt-3 fs-4">Try to make another search</p>
    <p class="pt-3 fs-5">Or go to the blog <a href="{% url 'blog:blog_page' %}" class="link-danger">main page</a></p>


</div>

{% endfor %}
